body {
    background-color: #f1e1c6;
    color: #3e2723;
    font-family: 'Georgia', serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h2 {
    color: #8b4513;
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: bold;
}

.container {
    padding: 30px;
    width: 500px;
    border-radius: 15px;
    background-color: #fff5e1;
    border: 3px solid #8b4513;
}

#categories {
    padding: 10px;
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    background-color: #c97b5e;
    color: #fff;
    border: none;
    border-radius: 10px;
    width: 100%;
}

#button {
    margin-top: 25px;
    width: 120px;
    height: 35px;
    font-size: 20px;
    background-color: #c97b5e;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

#quote {
    margin-top: 20px;
    font-size: 22px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #8b4513;
}